<div class="menu-container">
  <select [(ngModel)]="selectedYear" (ngModelChange)="selectYear(selectedYear)">
    <option value="0" selected>All</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
  </select>

  <ul>
    <li *ngFor="let news of newsList">
      <a [routerLink]="['new', news.inode]">
        <img src="https://demo.dotcms.com{{ news.image }}?resize_w=100&resize_h=100" alt="{{ news.title }} image" />
        <div>
          <h3>{{ news.title }}</h3>
          <p>{{ news.publishDate | date }}</p>
        </div>
      </a>
    </li>
  </ul>
</div>

